// _variables.scss
$basic-font-size: 16px;
$primary-color: #4a90e2;

$color-white: #fff;
$color-black: #000;
$dafault-font-family: -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei',
  'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$fox-font-family: 'Open Sans', sans-serif;
